---
import Layout from "../layouts/Layout.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
---

<Layout title="Maia Sason">
  <Container>
    <section
      class="relative z-10 grid min-h-screen grid-cols-1 content-center items-center justify-center justify-items-center gap-10 p-10 lg:grid-cols-2"
    >
      <Header />
      <FeatureImage />
    </section>
  </Container>
</Layout>

<style></style>
