---
import LinkList from "./LinkList.astro";
---

<div class="flex flex-col">
  <h1 class="text-5xl text-slate-800 lg:text-8xl">
    Hello, <br /> I'm Maia
  </h1>
  <hr class="my-5 border-slate-600" />
  <LinkList>
    <a
      href="https://github.com/MaiaS"
      rel="icon"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img src="github-mark.svg" class="h-10 w-10" /></a
    >
    <a
      href="https://www.linkedin.com/in/maia-sason-8b25ba192/z"
      rel="icon"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img src="LI-In-Bug.png" class="h-10" />
    </a>
    <a
      href="resume.pdf"
      rel="icon"
      download="maia-sason-resume-2023"
      rel="noopener noreferrer"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg"
        class="h-10"
      />
    </a>
    <a
      href="mailto:maia.sason1@gmail.com"
      rel="icon"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/8/8b/PICOL_icon_Mail.svg"
        class="h-10 w-10"
      /></a
    >
  </LinkList>
</div>
